/* 
    Document   : GeoChart
    Created on : Apr 13, 2014, 1:27:06 PM
    Author     : rahul
    Description:
        Purpose of the stylesheet follows.
*/

.divNavigation span{ 
    cursor:pointer;
}

